html {
/*    font-family: sans-serif;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
/*    height: 100vh;*/
}

body {
	margin-left:17px;
	margin-right:17px;
	background:pink;
	text-align:center;
}

table, th, td {
	border:1px solid black;
}
th, td {
	padding-top:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}
tr:hover {background-color: coral;}